<p id="notice"><%= notice %></p>

<p>
  <b>Carrier:</b>
  <%= @android.carrier %>
</p>

<p>
  <b>Maker:</b>
  <%= @android.maker %>
</p>

<p>
  <b>Petname:</b>
  <%= @android.petname %>
</p>

<p>
  <b>Modelname:</b>
  <%= @android.modelname %>
</p>

<p>
  <b>Os ver start:</b>
  <%= @android.os_ver_start %>
</p>

<p>
  <b>Os ver current:</b>
  <%= @android.os_ver_current %>
</p>

<p>
  <b>Screen inch:</b>
  <%= @android.screen_inch %>
</p>

<p>
  <b>Screen x:</b>
  <%= @android.screen_x %>
</p>

<p>
  <b>Screen y:</b>
  <%= @android.screen_y %>
</p>

<p>
  <b>Screen dpi:</b>
  <%= @android.screen_dpi %>
</p>

<p>
  <b>Screen type:</b>
  <%= @android.screen_type %>
</p>

<p>
  <b>Keyboard:</b>
  <%= @android.keyboard %>
</p>

<p>
  <b>Release date:</b>
  <%= @android.release_date %>
</p>


<%= link_to 'Edit', edit_android_path(@android) %> |
<%= link_to 'Back', androids_path %>
